/*====== модальное окно =========*/
.overlap {
    background: #000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    opacity: .5;
}

    .modal_wnd {
        background: #fff;
        position: fixed;
        left: 50%;
        top: 50%;
        margin-top: -200px;
        overflow: hidden;
        z-index: 2000;
        width: 500px;
        padding: 5px;
        margin-left: -250px;
    }

    .modal_wnd button {
        float: right;
        line-height: 20px;
        margin: 1.2em;
        border: none;
        background: transparent;
        color: blue;
    }

    .modal_wnd button:hover {
        cursor: pointer;
        color: navy;
        text-decoration: underline;
    }

    .modal_wnd h2{
        text-align: center;
        color: #555;
    }

    #modal_wnd_content {
        padding: 0 1em;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        background: WhiteSmoke;
    }

        .error{
            color: red;
        }

        input[type="text"] {
            border: 1px solid #cccccc; /*цвет рамки*/
            border-radius: 3px; /*закругление углов (общее)*/
            height: 2em; /*высота на свое усмотрение*/
            width:100%; /*ширина на свое усмотрение*/
            color: #0a4f21; /*цвет шрифта в обычном состоянии*/
            font-size: 1em; /*Размер шрифта*/
            font-family: Tahoma; /*Стиль шрифта*/
            margin-top: 1em;
        }

        input[type="text"]::-webkit-input-placeholder {
            color: #c3c3c3;
        }

        input[type="text"]::-moz-placeholder {
            color: #c3c3c3;
        }

